In [1]:
import numpy as np 
import pandas as pd

In [2]:
games = pd.read_csv("https://raw.githubusercontent.com/benvictoria17/DataAnalytics/master/dataset/Chess%20Game%20Dataset%20(Lichess)/games.csv")

In [3]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20058 non-null  object
 1   rated           20058 non-null  bool
 2   created_at      20058 non-null  float64
 3   last_move_at    20058 non-null  float64
 4   turns           20058 non-null  int64
 5   victory_status  20058 non-null  object
 6   winner          20058 non-null  object
 7   increment_code  20058 non-null  object
 8   white_id        20058 non-null  object
 9   white_rating    20058 non-null  int64
 10  black_id        20058 non-null  object
 11  black_rating    20058 non-null  int64
 12  moves           20058 non-null  object
 13  opening_eco     20058 non-null  object
 14  opening_name    20058 non-null  object
 15  opening_ply     20058 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.3+ MB

In [4]:
filter_cols = games.loc[:, ['id', 'white_rating', 'black_rating', 'moves', "victory_status", "winner"]]
filter_cols.head()

,id,white_rating,black_rating,moves,victory_status,winner
0,TZJHLljE,1500,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,outoftime,white
1,l1NXvwaE,1322,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,resign,black
2,mIICvQHh,1496,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,mate,white
3,kWKvrqYL,1439,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,mate,white
4,9tXo1AUZ,1523,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,mate,white

In [5]:
filter_cols["diff"] = abs(filter_cols.white_rating - filter_cols.black_rating)
def number_of_moves(the_moves):
    """
    return the number of moves in a moves string
    """
    return len(the_moves.split())
filter_cols.moves[0]

'd4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5 Bf4'

In [6]:
number_of_moves(filter_cols.moves[0])

13

In [7]:
filter_cols["num_moves"] = filter_cols.moves.apply(number_of_moves)

In [8]:
filter_cols.head()

,id,white_rating,black_rating,moves,victory_status,winner,diff,num_moves
0,TZJHLljE,1500,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,outoftime,white,309,13
1,l1NXvwaE,1322,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,resign,black,61,16
2,mIICvQHh,1496,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,mate,white,4,61
3,kWKvrqYL,1439,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,mate,white,15,61
4,9tXo1AUZ,1523,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,mate,white,54,95

In [9]:
final = filter_cols[["id", "white_rating", "black_rating", "diff", "winner", 
                     "victory_status", "num_moves", "moves"]]
final.sort_values(["diff", "num_moves"], ascending=False)

,id,white_rating,black_rating,diff,winner,victory_status,num_moves,moves
5374,5gtNuMhB,1016,2621,1605,black,mate,48,Nf3 Nf6 d4 g6 Bg5 Bg7 Nc3 d5 Qd3 Bf5 Qb5+ Nc6 ...
5373,zkk33R0Z,1016,2621,1605,black,mate,40,Nc3 c5 Nf3 Nc6 Nb5 Nf6 c4 g6 Ng5 Bg7 d3 O-O Bf...
5935,DPMbZQay,2621,1122,1499,white,resign,33,e4 d5 exd5 Qxd5 Nc3 Qd8 d4 Nf6 Nf3 Nc6 h3 e6 B...
13561,98AgSN3f,2438,946,1492,white,mate,23,e4 h6 d4 g6 Nf3 Bg7 Be3 Nf6 e5 Nh5 g4 O-O gxh5...
39,G5S21pXK,2449,978,1471,white,resign,34,c4 e5 Nc3 Bc5 g3 Nc6 Bg2 Nf6 Nf3 b6 Nxe5 Bb7 N...
...,...,...,...,...,...,...,...,...
9521,rZDhnp9r,1240,1240,0,white,resign,4,e4 e5 f3 d5
1986,i4dYtT5Z,1500,1500,0,black,resign,3,d4 e6 Bf4
2707,i4dYtT5Z,1500,1500,0,black,resign,3,d4 e6 Bf4
9256,hJ3orVeR,1500,1500,0,white,resign,3,e4 c5 Nc3
9569,wyq18DYh,1500,1500,0,black,outoftime,2,e4 c5