In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter
from matplotlib import cm
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression #, LogisticRegressionCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, precision_recall_fscore_support
from sklearn.metrics import roc_curve, accuracy_score, roc_auc_score
import xgboost as xgb
from xgboost import plot_importance
from xgboost import XGBClassifier
def plot_features(booster, figsize):    
    fig, ax = plt.subplots(1,1,figsize=figsize)
    return plot_importance(booster=booster, ax=ax)
from sklearn.metrics import mean_squared_error, mean_absolute_error, average_precision_score, f1_score
from sklearn.metrics import roc_curve, auc, roc_auc_score, accuracy_score, confusion_matrix,classification_report

In [2]:
df_user = pd.read_csv('https://raw.githubusercontent.com/benvictoria17/DataAnalytics/master/dataset/Travel%20Dataset%20-%20Datathon%202019/users.csv')
df_hotel = pd.read_csv('https://raw.githubusercontent.com/benvictoria17/DataAnalytics/master/dataset/Travel%20Dataset%20-%20Datathon%202019/hotels.csv')
df_flight = pd.read_csv('https://raw.githubusercontent.com/benvictoria17/DataAnalytics/master/dataset/Travel%20Dataset%20-%20Datathon%202019/flights.csv')

In [3]:
df_user.isnull().sum()

code       0
company    0
name       0
gender     0
age        0
dtype: int64

In [4]:
df_user.head()

   code company             name  gender  age
0     0    4You        Roy Braun    male   21
1     1    4You   Joseph Holsten    male   37
2     2    4You    Wilma Mcinnis  female   48
3     3    4You     Paula Daniel  female   23
4     4    4You  Patricia Carson  female   44

In [5]:
df_user.groupby("company").size()

company
4You             453
Acme Factory     261
Monsters CYA     195
Umbrella LTDA    194
Wonka Company    237
dtype: int64

In [6]:
df_user.groupby("gender").size()

gender
female    448
male      452
none      440
dtype: int64

In [7]:
df_flight.head()

,travelCode,userCode,from,to,flightType,price,time,distance,agency,date
0,0,0,Recife (PE),Florianopolis (SC),firstClass,1434.38,1.76,676.53,FlyingDrops,09/26/2019
1,0,0,Florianopolis (SC),Recife (PE),firstClass,1292.29,1.76,676.53,FlyingDrops,09/30/2019
2,1,0,Brasilia (DF),Florianopolis (SC),firstClass,1487.52,1.66,637.56,CloudFy,10/03/2019
3,1,0,Florianopolis (SC),Brasilia (DF),firstClass,1127.36,1.66,637.56,CloudFy,10/04/2019
4,2,0,Aracaju (SE),Salvador (BH),firstClass,1684.05,2.16,830.86,CloudFy,10/10/2019

In [9]:
df_flight.groupby("agency").size()

agency
CloudFy        116378
FlyingDrops     38758
Rainbow        116752
dtype: int64

In [10]:
df_flight.groupby(['travelCode', 'userCode']).size().max()

2

In [11]:
df_flight.groupby(['travelCode', 'userCode']).size().min()

2